<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de artesanos</title>

    <link rel="stylesheet" type="text/css" href="./estilos/style-listado.css">
    <link rel="icon" type="image/png" href="./estilos/img/logo.png">
</head>

<body>
  <div class="main-container">
    <div class="tabla">
      <table class="default">
        <tr class="titulos">      
          <td><strong>Nombre</strong></td>
          <td><strong>Teléfono</strong></td>
          <td><strong>Comuna</strong></td>
          <td><strong>Tipo de artesanía</strong></td>
          <td><strong>Fotos</strong></td>           
        </tr>      
        <tr>
          <td>
            <button onclick="location.href='./informacion-artesano.html?id=1'">Agustín</button>
          </td>      
          <td>+56 9 8542 6723</td>     
          <td>Providencia</td>      
          <td>Metal</td>
          <td><img
            src="./imagenes/metal.png"
            width="120"
            height="120" /></td>           
        </tr>
        <tr>
          <td>
            <button onclick="location.href='./informacion-artesano.html?id=2'">Martina</button>
          </td>  
          <td>+56 9 7061 3985</td>    
          <td>Santiago Centro</td>      
          <td>Madera</td>
          <td><img
            src="./imagenes/madera-1.png"
            width="120"
            height="120" /></td>         
        </tr>   
        <tr>
          <td>
            <button onclick="location.href='./informacion-artesano.html?id=3'">Isidora</button>
          </td>
          <td>+56 9 7120 5498</td>      
          <td>Talca</td>      
          <td>Madera</td>
          <td><img
            src="./imagenes/madera-2.png"
            width="120"
            height="120" /></td>         
        </tr>   
        <tr>
          <td>
            <button onclick="location.href='./informacion-artesano.html?id=4'">Víctor</button>
          </td>
          <td>+56 9 6304 8112</td>     
          <td>Temuco</td>      
          <td>Mármol</td>
          <td><img
            src="./imagenes/marmol.png"
            width="120"
            height="120" /></td>           
        </tr>   
        <tr>
          <td>
            <button onclick="location.href='./informacion-artesano.html?id=5'">Nicolás</button>
          </td> 
          <td>+56 9 8753 2461</td>    
          <td>Temuco</td>      
          <td>Joyas</td>
          <td><img
            src="./imagenes/joyas.png"
            width="120"
            height="120" /></td>                
        </tr>         
      </table>
    </div>
    
    <div>
      <button class="volver-btn" onclick="location.href='./index.html'">Volver al inicio</button>
    </div>
  </div> 
</body>

</html>