* {
  box-sizing: border-box;
}

/* Estilos de tipo */

body {
  background-image: url(img/fondo.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

button{
  font-family: 'DIN';
  color: black;
  background-color: white;
  padding: .5em; 
  border: 0; 
  width: 15vw;
  height: 10vh;
  font-size: 20px;
}

/* Estilos de clase */

.main-container{
  color: white;
  font-family: 'DIN';
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color: #004176;
  width: 50vw;
  height: 65vh;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide el contenedor en dos columnas iguales */
  grid-gap: 10px; /* Ajusta el espacio entre los botones según tus preferencias */
  color: white;
  font-family: 'DIN';
  text-align: center;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color: #004176;
  width: 50vw;
  height: 65vh;
}

.index-btn {
  display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    background-color: white; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 20px; /* Ajusta el tamaño de fuente según sea necesario */
    width: 18vw;
    height: 10vh;
    border-radius: 10px; /* Esquinas redondeadas */
}



/* Fuentes */

@font-face {
  font-family: 'DIN';
  src: url('fonts/din-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}